.cursor-dot {
    width: 15px;
    height: 15px;
    background-color: rgba(66, 62, 62, 0.737);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.1s ease;
  }
  